

<!-- <div class="row"> -->
    <!-- <div class="col-12">  -->
        <h2>{{type}}</h2>
        <!-- <div class="flex-item"> -->
          <div style="display: block;">
           
          <canvas baseChart width="400" height="200"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [chartType]="lineChartType"
                      [colors]="lineChartColors"
          ></canvas> 

          </div>
        <!-- </div> -->
        
      <!-- </div> -->
<!-- </div> -->
